In [2]:
import pandas as pd
import numpy as np

In [4]:
# Read in the data
df = pd.read_csv('mobiles.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    120 non-null    object
 1   price   120 non-null    object
 2   rr      116 non-null    object
dtypes: object(3)
memory usage: 2.9+ KB

,name,price,rr
0,Cellecor E3,"₹1,176",28 Ratings & 1 Reviews
1,"POCO C31 (Royal Blue, 64 GB)","₹7,499","2,12,160 Ratings & 13,426 Reviews"
2,"POCO C31 (Royal Blue, 32 GB)","₹6,499","1,39,540 Ratings & 8,817 Reviews"
3,"realme C30 (Denim Black, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews"
4,"realme C30 (Lake Blue, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews"
...,...,...,...
115,"MOTOROLA g73 5G (Lucent White, 128 GB)","₹18,999","2,680 Ratings & 331 Reviews"
116,"REDMI 10 (Midnight Black, 128 GB)","₹11,999","27,693 Ratings & 1,943 Reviews"
117,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)","₹16,999","1,73,807 Ratings & 13,586 Reviews"
118,"APPLE iPhone 13 (Green, 128 GB)","₹61,999","1,98,672 Ratings & 10,810 Reviews"
119,"vivo T1X (Gravity Black, 64 GB)","₹11,999","85,750 Ratings & 4,778 Reviews"

In [5]:
def clean_price_data(price):
    if isinstance(price, str):
        price = price.replace(',','').replace('₹','').strip()
    if price.isnumeric():
        return float(price)

In [6]:
def split_rr_data(rr):
    if isinstance(rr, str):
        rr = rr.split('&')
        return rr[0], rr[1]
    else:
        return np.nan, np.nan

In [7]:
df['cleaned_price']=df['price'].apply(clean_price_data)

In [8]:
df['ratings'], df['reviews'] = zip(*df['rr'].apply(split_rr_data)) # Unpacking the tuple

In [9]:
df

,name,price,rr,cleaned_price,ratings,reviews
0,Cellecor E3,"₹1,176",28 Ratings & 1 Reviews,1176.0,28 Ratings,1 Reviews
1,"POCO C31 (Royal Blue, 64 GB)","₹7,499","2,12,160 Ratings & 13,426 Reviews",7499.0,"2,12,160 Ratings","13,426 Reviews"
2,"POCO C31 (Royal Blue, 32 GB)","₹6,499","1,39,540 Ratings & 8,817 Reviews",6499.0,"1,39,540 Ratings","8,817 Reviews"
3,"realme C30 (Denim Black, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews",5749.0,"94,043 Ratings","4,998 Reviews"
4,"realme C30 (Lake Blue, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews",5749.0,"94,043 Ratings","4,998 Reviews"
...,...,...,...,...,...,...
115,"MOTOROLA g73 5G (Lucent White, 128 GB)","₹18,999","2,680 Ratings & 331 Reviews",18999.0,"2,680 Ratings",331 Reviews
116,"REDMI 10 (Midnight Black, 128 GB)","₹11,999","27,693 Ratings & 1,943 Reviews",11999.0,"27,693 Ratings","1,943 Reviews"
117,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)","₹16,999","1,73,807 Ratings & 13,586 Reviews",16999.0,"1,73,807 Ratings","13,586 Reviews"
118,"APPLE iPhone 13 (Green, 128 GB)","₹61,999","1,98,672 Ratings & 10,810 Reviews",61999.0,"1,98,672 Ratings","10,810 Reviews"
119,"vivo T1X (Gravity Black, 64 GB)","₹11,999","85,750 Ratings & 4,778 Reviews",11999.0,"85,750 Ratings","4,778 Reviews"